@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-svg-arrow {
  bottom: -6px;
}
.tippy-svg-arrow svg {
  transform: scaleY(-1);
  fill: #303030;
}

svg {
  /* Disable svg title tag tooltip */
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html{
      color-scheme: dark;
  }
  line, path ,rect, circle{
    stroke: #808080;
  }
  .tippy-box{
    border: 1px solid #808080 !important;
  }
}