@import "tailwindcss";

@theme {
    --color-charcoal: #303030;
    --color-gray: #d4d4d4;
}

[data-aos="slide"] {
    transform: translateY(20px);
    transition-property: transform, opacity;
}

[data-aos="slide"].aos-animate {
    transform: translateY(0);
}

.card {
    /* border border-charcoal/25 dark:border-[#808080]/25 */
    @apply mt-4 p-4 lg:p-10 flex flex-col-reverse md:flex-row items-start justify-between min-h-56 md:h-auto lg:h-[500px] text-charcoal dark:text-gray rounded-xl relative font-light overflow-hidden;
}

.hero-img::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    /* so clicks pass through */
    z-index: 1;
    height: 100px;
    background: linear-gradient(#ffffff00, #ffffff);
    margin-top: auto;
}

.card-phone-shadow-bottom::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    /* so clicks pass through */
    z-index: 1;
    height: 100px;
    background: linear-gradient(#ffffff00, #ffffff);
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    .hero-img::after {
        background: linear-gradient(#15151500, #151515);
    }
    .card-phone-shadow-bottom::after {
        background: linear-gradient(#15151500, #151515);
    }
}

.card-description {
    @apply h-full w-full md:w-1/2 text-base md:text-lg lg:text-[1.275rem] text-charcoal/50 dark:text-gray/50 flex flex-col justify-between space-y-5 relative z-10;
}

.card-description ol {
    @apply list-outside list-decimal space-y-0.5;
}

.card-description ol li {
    @apply ms-5;
}

.card-link-primary {
    @apply uppercase text-sm font-semibold border border-charcoal dark:border-gray inline-flex items-center justify-center rounded-full px-4 py-1 bg-charcoal dark:bg-gray text-white dark:text-charcoal;
}

.card-link-secondary {
    @apply uppercase text-sm font-semibold border border-charcoal dark:border-gray inline-flex items-center justify-center rounded-full px-4 py-1 text-charcoal dark:text-gray;
}

@keyframes float {
    0%,
    100% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }
}

.line {
    opacity: 0;
    transition: opacity 100ms ease-out;
    stroke: currentColor;
    stroke-width: 2px;
    fill: transparent;
}

.tip {
    transform: translate(-5px, 0);
    transition: transform 100ms ease-out;
    stroke: currentColor;
    stroke-width: 2px;
    fill: transparent
}

button:hover .line,
a:hover .line {
    opacity: 1;
}

button:hover .tip,
a:hover .tip {
    transform: translate(-2px, 0);
}

a:not(.no-global-hover):not(header a),
#mobile-nav-dropdown a {
    @apply opacity-50 hover:opacity-100 transition-all;
}

header a:not(#mobile-nav-dropdown a):not(.no-global-hover) {
    @apply opacity-75 hover:opacity-100 transition-all;
}

.callout {
    @apply bg-[#e8e8e8] dark:bg-[#212121] text-charcoal dark:text-gray mt-16 md:mt-20;
}

.ext-link-icon::after {
    content: "↗";
    display: inline-block;
    opacity: 0.25;
    font-size: 0.92em;
    margin-left: 4px;
    color: inherit;
}

@keyframes fadeSlideLoop {
    0% {
      opacity: 0;
      transform: translate(-25px, -25px);
    }
    20% {
      opacity: 1;
      transform: translate(0, 0);
    }
    80% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }