:root.dark {
  --vp-c-brand: white;
  --vp-c-brand-dark: white;
}

:root {
  --vp-c-brand: #303030;
  --vp-c-brand-dark: #303030;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151515;
  }
}

.vp-doc a{
  text-decoration: underline;
  text-decoration-style: solid;
}

.aside-curtain{
  display: none;
}

.header-anchor{
  visibility: hidden;
}

.VPNavBarTitle{
  display: none;
}

.VPNavBar {
  border: none !important;
}

.outline-title{
  visibility: hidden;
}

.VPNavBarExtra, .hamburger{
  /* weird appearance menu in top-right */
  display: none !important;
}

.vp-doc p {
  margin: 8px 0;
}

@media (min-width: 960px) {
  .VPNav.no-sidebar {
    background: transparent !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
  }
}